{% extends "base.html" %}

{% block title %}Quên mật khẩu{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-card">
        <h2>Quên mật khẩu?</h2>
        <p>Nhập email của bạn để nhận link đặt lại mật khẩu.</p>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  <!-- built-in form -->
            <button type="submit" class="auth-btn">Gửi</button>
        </form>
    </div>
</div>
{% endblock %}