{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'payment.css' %}">
{% endblock %}

{% block content %}

<div class="pay-box">

    <div class="pay-title">💳 Thanh toán khóa học</div>

    <div class="pay-info">
        <p><strong>Người học:</strong> {{ enrollment.user.username }}</p>
        <p><strong>Khóa học:</strong> {{ enrollment.course.title }}</p>
        <p><strong>Số tiền:</strong> 
            <span class="price">{{ enrollment.course.price|format_vnd }} VNĐ</span>
        </p>
    </div>

    <hr>

    <!-- QR DUY NHẤT -->
    <div class="qr-box">
        <p><strong>Quét mã để thanh toán</strong></p>

        <img src="https://img.vietqr.io/image/MB-123456789-compact.png?amount={{ enrollment.course.price }}&addInfo=ThanhToan_{{ enrollment.user.username }}_{{ enrollment.course.id }}&accountName=NGUYEN%20VAN%20A">
        
        <p style="margin-top:10px;color:#64748b;font-size:14px;">
            Nội dung: ThanhToan_{{ enrollment.user.username }}_{{ enrollment.course.id }}
        </p>
    </div>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn-submit">
            ✅ Tôi đã thanh toán
        </button>
    </form>

</div>

{% endblock %}